ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  text-align: center;
  background-color: #dddddd;
}

li {
 
  display:inline-block;
  margin: 0;
}

li a {
  display: block;
  padding: 8px;

}
  #centermain {
    font: "Times New Roman", Times, serif;
    text-align: center;
    color: black;
    
  }

a{
  text-decoration: none;
}
  /* mouse over link */
a:hover {
  color: yellowgreen;
}