.listnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  text-align: center;
  background-color:white;
}

.listdown {
list-style-type: circle;
}

.listele {
 
  display:inline-block;
  margin: 0;
}

a {

  display: block;
  padding: 8px;

}

  #centermain {
    font: "Times New Roman", Times, serif;
    text-align: center;
    color: black;
    
  }

a{
  text-decoration: none;
}
  /* mouse over link */
a:hover {
  color: yellowgreen;
}

.background{
  background-color: gold;
}

#AIMG{
  position:absolute;
  top:0px;
  
  
}
#BIMG{
  position:absolute;
  left:420px

  
}
#CIMG{
  position:absolute;
  left: 840px;
 
}

#position{
  position: relative;
  color: blue;
}